---
import { getArticleFromSlug } from "../../queries/articles";
import { getAllArticlesSlug } from "../../queries/articles"
export async function getStaticPaths() {
  const articlesSlugs = await getAllArticlesSlug()
  return articlesSlugs
}

const { slug } = Astro.params;

const article = await getArticleFromSlug(slug)

import ArticleHeader from "../../features/article/components/article-header/ArticleHeader.astro";
import MobileTableOfContents from "../../features/article/components/table-of-contents/mobile-wrapper/MobileTableOfContents.astro";
import Layout from "../../layouts/Layout.astro";
import ArticleBody from "../../features/article/components/article-body/ArticleBody.astro";
import DesktopTableOfContents from "../../features/article/components/table-of-contents/desktop-wrapper/DesktopTableOfContents.astro";
import { getContentHeader } from "../../features/article/lib/get-content-tables";
import { PortableText } from "astro-portabletext"

const contentTables = await getContentHeader(article.content)

---

<Layout title={article.title}>
  <main class="">
    <ArticleHeader title={article.title} datePublished={article.publishedDate} readTime={article.estimatedReadingTime}/>
    <div class="article-body">
      <aside>
      <MobileTableOfContents>
          <PortableText value={contentTables}/>
      </MobileTableOfContents>
      <DesktopTableOfContents>
        <PortableText value={contentTables} />
      </DesktopTableOfContents>
      </aside>    
      <ArticleBody content={article.content} />
    </div>
  </main>
</Layout>