---
const { slug, title, publishedDate, estimatedReadingTime, isFeatured, delay, articleTags = [] } = Astro.props
import CSS  from './styles.module.scss'
const publishedDAte = new Date(publishedDate).toLocaleDateString('en-GB', { year: 'numeric', month: 'long', day: 'numeric' })
---

<li class:list={[isFeatured ? CSS.featuredArticle : null, CSS.article]} style={{'--delay': `${delay * 5}%`}} >
    <a href={`/articles/${slug.current}`} class:list={[CSS.articleLink]}>
        <h3 style="text-wrap:pretty" style={{viewTransitionName: `article-title-${title.replaceAll(' ', '-')}` }}>{title}</h3>
        <!-- {articleTags?.length > 0 ? <div class:list={[CSS.articleTags]} transition:name={`article-tags-${title.replaceAll(' ', '-')}`}>
            {articleTags.map((tag: string) => (
                <span class:list={[CSS.tag]}>{tag}</span>
            ))}
        </div> : null} -->
        <div class:list={[CSS.articleDetails]}>
            <span style={{viewTransitionName: `article-publishedDate-${title.replaceAll(' ', '-')}` }} >{publishedDAte}</span>
            {estimatedReadingTime ? <span style={{viewTransitionName: `article-readTime-${title.replaceAll(' ', '-')}` }}>{estimatedReadingTime} mins read</span> : null}
        </div>

    </a>
</li>