---
import CSS from './styles.module.scss'
import Alert from '../../../../components/alert-box/Alert.astro'

const { title, datePublished, readTime } = Astro.props
const currentPath = Astro.url
const publishedDAte = new Date(datePublished).toLocaleDateString('en-GB', { year: 'numeric', month: 'long', day: 'numeric' })
const isOldArticle = new Date(datePublished) < new Date(import.meta.env.MIGRATION_DATE ?? '')
const oldURL = `${import.meta.env.MIGRATION_OLD_DOMAIN}${currentPath.pathname}`
---

<header class:list={[ CSS.container]}>
    <h1 transition:name={`article-title-${title.replaceAll(' ', '-')}`}>{title}</h1>
    <p class:list={[CSS.articleInfo]}>
        <span transition:name={`article-publishedDate-${title.replaceAll(' ', '-')}`}>{publishedDAte}</span>
        {readTime ? <span transition:name={`article-readTime-${title.replaceAll(' ', '-')}`}>Read Time {readTime} mins</span> : null}
    </p>
    {isOldArticle ? <Alert variant='warning'>This article was published before the migration to Astro. And might not work as fully expected, you can find the previous version at: <a href={oldURL} target="_blank">{title}</a>'</Alert> : null}
</header>